BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AlignEscapedNewlines: DontAlign
ColumnLimit: 0
SortIncludes: Never
ReflowComments: true
SeparateDefinitionBlocks: Always
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: -1
