CONFIG_ISA_riscv32=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_TRACE is not set
# CONFIG_WATCHPOINT is not set
CONFIG_SDB_BATCH_DEFAULT=y
CONFIG_MSIZE=0x8000000
# CONFIG_MEM_RANDOM is not set
CONFIG_DEVICE=y
# CONFIG_VGA_SHOW_SCREEN is not set
CONFIG_VGA_SIZE_800x600=y
CONFIG_AUDIO_DUMMY=y
CONFIG_RV32_JIT=y
CONFIG_RV32_JIT_STATS=y
