CONFIG_ISA_riscv64=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_TRACE is not set
# CONFIG_WATCHPOINT is not set
CONFIG_SDB_BATCH_DEFAULT=y
CONFIG_MSIZE=0x8000000
# CONFIG_DEVICE is not set
